{{!-- <div class="mt-4">
    <h5>Recipe Tags:</h5>
    <a class="btn btn-warning" href="">Summer</a>
    <a class="btn btn-warning" href="">Easy</a>
    <a class="btn btn-warning" href="">Breakfast</a>
    <a class="btn btn-warning" href="">Fun</a>
    <a class="btn btn-warning" href="">Dr. Suess</a>
</div> --}}

<div class="mt-4">
    <h1 class="recipeName">{{recipe.name}}</h1>
    <h4 class="recipeD">{{recipe.description}}</h4>
    <h5>By <span class="recipeUser">{{recipe.user.name}}</span></h5>
</div>
<div class="my-2">

    <a class="btn btn-outline-danger" href="recipeName">Recipe</a>
    <a class="btn btn-outline-danger" href="recipeD">Descripton</a>
    <a class="btn btn-outline-danger" href="/api/user/{{recipe.user_id}}">Creater</a>
    <a class="btn btn-outline-danger" href="">Add a Comment</a>
</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzt5kOhWe6P4_OOIvoNIIRkc8qWAHG2-nhDuBa2pmkLaOfL8KwtjaiIfzqzd1dNbfm564&usqp=CAU"
    alt="picture of {{recipe.name}}">